<div id="<%= dom_id(group) %>" class="row row-group">

	<div class="col-xs-9">
		<strong><%= group %></strong>
	</div>

	<div class="col-xs-3 col-actions right">
		<%= link_to edit_admin_group_path(group), class: "btn btn-default btn-xs" do %>
	  	<span class="glyphicon glyphicon-pencil"></span>
	    <span class="hidden-xs">modifier</span>
	  <% end %>
	</div>

</div>
