<ul class="nav nav-pills">
  <li>
    <%= link_to "Poloïstes", admin_users_path %>
  </li>
</ul>

<hr />

<div class="row">

  <div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
      <%= render @users %>
    </ul>

    <hr />

    <%= link_to new_admin_user_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-plus"></span>
        Ajouter
    <% end %>

    <hr />
  </div>

  <div id="user" class="col-md-8">
  </div>

</div>